@model WebApiForBrightSales.Models.WidgetViewModel

<h5>TEST WIDGET THE VIEW</h5>

@*<script src="~/js/WidgetTest.js"></script>*@
<div id="example-widget-container">WidgetFromApi</div>
<div>
    <form action="https://localhost:44319/api/widget/SendPhoneNumber" method="post">
        <button type="submit" class="btn btn-primary">TESTKNAPP</button>
    </form>
</div>


@Model.js


<script>@Model.js</script>
