@model WebApiForBrightSales.Models.WidgetViewModel

<h5>TEST WIDGET THE VIEW</h5>

@*<script src="~/js/WidgetTest.js"></script>*@
<div id="example-widget-container">WidgetFromApi</div>
<div>
    <form action="https://localhost:44319/api/widget/SendPhoneNumber" method="post" id="submitForm">
        <input asp-for="PhoneNumber">
        <button type="submit" class="btn btn-primary" id="buttonI1qwd">TESTKNAPP</button>
    </form>
</div>
<button type="button" class="btn btn-primary" id="buttonId">TESTKNAPP</button>





@*<script type="application/javascript">@Model.js</script>*@
@*<script type="application/json">
    $(document).ready(function () {
    console.log("TESTFROMVIEW")
    })();   
</script>*@

@*<script type="text/javascript">console.log("TESTFROMVIEW")</script>
<script id="scriptInWidget" type="text/javascript"></script>*@
